@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: MaxiRound;
  src: url("typos/MIUU-202207-Typo-Temporaire/ABCMaxiRound-Regular.otf") format("opentype");
}

@font-face {
  font-family: MaxiRound;
  font-weight: bold;
  src: url("typos/MIUU-202207-Typo-Temporaire/ABCMaxiRound-Bold.otf") format("opentype");
}
