@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'MaxiRound';
}
.app-content {
  min-height: calc(100vh - 543px);
  
}
.custom-animation{
  background: linear-gradient(-45deg, #00ef86, #008cff, #ec3258, #fcda00);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
